<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Tiny Survey Register</title>
</head>

<body>
    <div class="container">
        <h1 class="mb-3 mt-3">&#10068; Tiny Survey</h1>
        <h2 class="mb-10 mt-2">
            Register a new user
        </h2>
        <p>This site uses cookies to track your survey usage. 
            You will need to give your username and password to enter the site and
            create and vote in surveys. Your login will be used to allow you
            to manage surveys you have created and to prevent multiple votes
            for a survey. We will take every care to ensure that your
            username and password are stored securely but we cannot absolutely 
            guarantee their security.
             You should only register if you are happy with these conditions.
        </p>
        <div>
            <form action="/register" method="POST">
                <div>
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name" required class="form-control">
                </div>
                <div>
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required class="form-control">
                </div>
                <div>
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required class="form-control">
                </div>
                <div class="col-sm-12 mt-3">
                    <button class="btn btn-primary mt-1 btn-block" type="submit">
                        Register
                    </button>
                </div>
            </form>
        </div>
    </div>
</body>